// Version has to be set for App Store distribution
CURRENT_PROJECT_VERSION = 1

// Minimum deployment targets
IPHONEOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.10
TVOS_DEPLOYMENT_TARGET = 9.0

// XCTest doesn't include bitcode
ENABLE_BITCODE=NO

// Allows linking against XCTest
ENABLE_TESTING_SEARCH_PATHS=YES
